<div class="aaron-header">
  <div class="aaron-menu">
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'home']"><i nz-icon nzType="home" nzTheme="outline"></i>Home</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'discover']"><i nz-icon nzType="book" nzTheme="outline"></i>Discover</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'transit']"><i nz-icon nzType="car" nzTheme="outline"></i>Transit</a>
      </li>
    </ul>
  </div>
  <div class="aaron-weather">
    <p *ngIf="currentWeather == null">Searching...</p>
    <div *ngIf="currentWeather != null" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <div nz-col nzSpan="6">
        <img [src]="currentWeather.iconLink" />
      </div>
      <div nz-col nzSpan="18">
        <div nz-row>
          <span>{{ currentWeather.temperature }} ℃</span>
        </div>
        <div nz-row>
          <span>{{ currentWeather.description }}</span>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <span>Local Time: {{ now | date:'yyyy-MM-dd hh:mm:ss' : '+0800'}}</span>
    </div>
  </div>
</div>
